{% extends "base.html" %}

{% block title %}Recuperar contraseña{% endblock %}
<!-- Enviar correo -->

{% block content %}	
<h1>Escribe tu nueva contraseña</h1>
{% if validlink %}
<p>Por favor, introduce tu nueva contraseña</p>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Cambiar contraseña</button>
</form>
{% else %}
<p>El link de cambio dde contraseña ya no es valido, puede que ya haya sio utilizado.
    Por favor solicite un nuevo link
</p>
{% endif %}
{% endblock %}